<div id="page_editBot" style="display: none;">
    <div id="page_editBot__container"></div>
</div>

<script id="t_editBot" type="text/x-handlebars-template">
    <h1>Edit Bot</h1>
    <label>
        Name:
        <input type="text" id="editBot__name" value="{{ botInfo.name }}">
    </label>
    <br /><br />

    <div id="permissionsForm">
        {{> permissionsForm }}
    </div>

    <div style="height: 10px;"></div>
    <button class="btn" onclick="editBot.exit()" translate>Cancel</button>
    <button class="btn" onclick="editBot.save()" translate>Save</button>
    <br /><br />
    <button class="btn" onclick="editBot.deleteBot()" translate style="--txt: red;">Delete</button>
</script>
