<header>
    <div>
        <img src="/favicon.svg" alt="Logo" id="header__logo">
        <span style="font-size: 1.5rem;">.dev</span>
    </div>
    <div>
        <img id="header__user__img" alt="user avatar">
    </div>
</header>