<div id="page_listBot">
    <button class="btn" onclick="listBot.addBot()" translate>Add Bot</button>
    <br />
    <h1>
        Bots:
    </h1>
    <div id="page_listBot__container"></div>
</div>

<script id="template_listBot" type="text/x-handlebars-template">
    {{#each bots}}
        <div class="bot">
            <div class="bot__name">{{this.name}}</div>
            <div style="height: 10px;"></div>

            <button class="btn" onclick="copy.id('{{this.id}}')" translate>Copy ID</button>
            <button class="btn" onclick="copy.invite('{{this.id}}')" translate>Copy Invite</button>
            <div style="height: 10px;"></div>

            <button class="btn" onclick="listBot.editBot('{{this.id}}')" translate>Edit</button>
        </div>
    {{/each}}
</script>