#main__view{
    width: 100%;
    max-width: 100%;
    overflow-y: scroll;
    padding: 10px;
    text-align: left;
}

#main__view__nav{
    margin-bottom: 1rem;
    white-space: nowrap;
    overflow-x: auto;
}

#main__view__nav button{
    --pad_radius: 5px;
    margin-right: 5px;
    transition: background-color 0.5s;
}

#main__view__nav button:hover{
    --bg: color-mix(in srgb, var(--accent) 50%, transparent);
}

.main__view__friend{
    border-radius: 1.3rem;
    padding: 1rem;
    margin-bottom: 3px;
    cursor: pointer;
    transition: background-color 0.5s;

    display: flex;
    align-items: center;
}

.main__view__friend:hover{
    background-color: var(--messHover);
}

.friend__avatar{
    width: 48px;
    height: 48px;
    border-radius: 5px;
    margin-right: 5px;
}

.friend__status{
    color: lightgreen;
}

.friend__status::before{
    content: "(";
}

.friend__status::after{
    content: ")";
}

.main__view__friend .request__btn{
    background-color: transparent;
    border: 2px solid var(--accent);
    color: var(--txt);
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 5px;
}

.main__view__friend .request__btn:hover{
    background-color: var(--accent);
}

@media screen and (max-width: 800px){
    #main__view__nav button{
        display: block;
        margin-top: 5px;
    }
}