main{
    flex-grow: 1;
    height: 100%;
}

#messages{
    width: 100%;
    max-width: 100%;
    height: calc(100vh - 60px - 1.3rem);
    overflow-y: scroll;
    padding: 10px;
    text-align: left;
}

#messages_nav{
    width: 100%;
    height: 1.3rem;
    background-color: var(--panel);
    padding-inline: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#messages_nav :where(input, button){
    background-color: var(--back);
    border: none;
    border-radius: 5px;
    padding-inline: 5px;
    color: var(--txt);
}

#bar{
    width: 100%;
    height: 60px;
}

#barc{
    background-color: var(--menu);
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 20px);
    height: 50px;
    border-radius: 10px;

    position: relative;
}

#mess-input{
    width: calc(100% - 120px);
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--menu);
    color: var(--txt);
    resize: none;
}

#mess-input:focus{
    outline: none;
}

#barc__others{
    width: 110px;
    height: 50px;
    display: flex;
    align-items: center;
}

#barc__sendBtn{
    width: 1rem;
    border: none;
    cursor: pointer;
    background-color: var(--menu);
    color: var(--txt);
    margin-left: 7px;
    padding-top: 2px;
}

.mess_message{
    border-radius: 5px;
    width: 100%;
    padding: 3px;
}

.mess_message:hover{
    background-color: var(--menu);
}

.mess_message .mess_from div{
    margin-top: -37px;
    margin-bottom: 2px;
    margin-left: 35px;
    font-weight: bold;
    cursor: pointer;
}

.mess_message .mess_from div:hover{
    text-decoration: underline;
}

.mess_message img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.mess_message .mess_content{
    margin-left: 35px;
}

.mess_message .mess_reacts span{
    margin-right: 5px;
    cursor: pointer;
    background-color: var(--menu);
    color: var(--txt);
    padding: 3px;
    border-radius: 5px;
    font-weight: bold;
}

.mess_message .mess_reacts span.userReacted{
    background-color: var(--accent);
}

#replyClose, #editClose{
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

:where(#replyClose, #editClose)::before{
    content: 'X - ';
}

.editMessText{
    font-size: 0.7rem;
    margin-left: 5px;
}

#barc__sendBtn__img{
    width: 1.5rem;
    aspect-ratio: 1/1;
    --fil: grey;
}

#barc__sendBtn__img path{
    fill: var(--fil);
}

#emocjiDiv{
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: none;
}

#barc__emocji, #barc__sendFile{
    width: 2.5rem;
    border: none;
    cursor: pointer;
    background-color: var(--menu);
    color: var(--txt);
    font-size: 1.2rem;
}

.res_msg{
    margin-top: 7px;
    margin-bottom: 5px;
    font-size: 0.9rem;
    margin-left: 5px;
    cursor: pointer;
}

.res_msg::before{
    content: "-----> ";
    color: grey;
}

.res_msg__animate{
    animation: res_msg 2s ease;
}

@keyframes res_msg{
    50%{
        background-color: var(--accent);
    }
}

#barc__commads{
    position: absolute;
    bottom: 60px;
    left: 10px;
    width: 90%;
    background-color: var(--menu);
    color: var(--txt);
    border-radius: 10px;
    padding: 10px;
    z-index: 2;

    text-align: left;
}

#barc__commads ul li{
    margin-left: 1rem;
}

@media screen and (max-width: 800px){
    main{
        width: 100vw;
    }

    #messages{
        padding-top: 20px;
    }
}