#errMesses div{
    position: absolute;
    max-width: 70%;
    top: -10rem;
    left: 50%;
    transition: .7s;
    font-size: 1.6rem;
    border-radius: 1rem;
    letter-spacing: 2px;
    padding: 7px 12px;
    transform: translateX(-50%);
    z-index: 99;
}

.uiMsgClass{
    backdrop-filter: blur(5px);
    background-color: rgba(var(--accentRGB), .2);
    border: 3px solid var(--accent);
    box-shadow: 0 0 10px 5px rgba(var(--accentRGB), .5);
}

#prompt div{
    position: absolute;
    min-width: 200px;
    max-width: 70%;
    top: 50%;
    left: 50%;
    border-radius: 1rem;
    padding: 12px;
    transform: translate(-50%, -50%);
    z-index: 99;
    border: 2px solid var(--accent);
    backdrop-filter: blur(4px);
}

#prompt p{
    font-size: 1.2rem;
}

#prompt input, #prompt button, #prompt select{
    border-radius: 1rem;
    padding: 7px 12px;
    border: 2px solid var(--accent);
    background-color: var(--back);
    color: var(--txt);
    margin-top: 5px;
}

#prompt option{
    background-color: var(--back);
    color: var(--txt);
}

#prompt button{
    transition: background-color .3s;
    cursor: pointer;
}

#prompt button:hover{
    background-color: rgba(var(--accentRGB), .5);
}

#userProfile{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: var(--back);
    color: var(--txt);
    border: 2px solid var(--accent);
    border-radius: 1rem;
    padding: 1rem;
    max-width: 90vw;
    width: 600px;
    height: 500px;

    text-align: left;    
}

#userProfile img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

#usersInChat{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: var(--back);
    color: var(--txt);
    border: 2px solid var(--accent);
    border-radius: 1rem;
    padding: 1rem;

    text-align: left;
    width: 600px;
    max-height: 60vh;
    overflow-y: scroll;
}

#usersInChat > div{
    margin-block: 0.3rem;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;

    display: flex;
    align-items: center;
    gap: 1rem;

    cursor: pointer;
}

#usersInChat > div:hover{
    background-color: rgba(var(--accentRGB), .4);
}

#usersInChat img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

#linkClick{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: var(--back);
    color: var(--txt);
    border: 2px solid var(--accent);
    border-radius: 1rem;
    padding: 1rem;
    width: 600px;
}

#linkClick #linkClick_btns{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#linkClick button{
    width: 35%;
    border-radius: 1rem;
    padding: 7px 12px;
    border: 2px solid var(--accent);
    background-color: var(--back);
    color: var(--txt);
    margin-top: 5px;
    cursor: pointer;
}

#linkClick span{
    color: red;
}

@media screen and (max-width: 800px){
    #errMesses div{
        width: 90vw;
        max-width: none;
    }

    #linkClick{
        width: 90vw;
    }
}