#voice_call{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 350px;
    height: 200px;
    background-color: var(--back);
    z-index: 10;
    display: none;
    text-align: left;

    border: 1px solid var(--accent);
    border-radius: 1rem;
    padding: 1rem;
    max-width: 90vw;
}

#voice_call button{
    background-color: var(--back);
    color: var(--txt);
    border: 1px solid var(--accent);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    margin-right: 10px;
}

#voice_call button:hover{
    border-color: red;
}