---
//@ts-nocheck
import Layout from "../layouts/Layout.astro";
import "../css/ifp-form.css";
---

<Layout title="Login to Fusion Chat">
    <div id="div-gen"></div>
    <form class="signin">
        <div class="content" id="loginC">
            <h2>Email Confirmation</h2>
            <div class="form">
                <div class="inputBox">
                    <input type="number" id="code" min="100000" max="999999" required />
                    <i>Code</i>
                </div>
                <div id="err"></div>
                <div class="inputBox">
                    <input type="submit" value="Finish">
                </div>
            </div>
        </div>
    </form>
</Layout>

<script>
    let div_gen = document.querySelector("#div-gen");
    function genDiv(){
        let div = document.createElement("div");
        div.classList.add("card");
        div_gen.appendChild(div);
    }
    for(let i=0; i<260; i++) genDiv();

    function loadScript(src){
        const script = document.createElement("script");
        script.src = src;
        document.body.appendChild(script);
    }

    loadScript("/js/register-code.js");
</script>