---
import Layout from "../layouts/Layout.astro";
import "../css/ifp-form.css";
---

<Layout title="Invite Server for Fusion Chat">
    <form>
        <div class="content" id="loginC">
            <h2>Invite Server</h2>
                
        </div>
    </form>
</Layout>

<style>
</style>

<script>
    function loadScript(src){
        const script = document.createElement("script");
        script.src = src;
        document.body.appendChild(script);
    }

    loadScript("/js/serverInvite.js");
</script>