<nav>
    <div id="groups">
        <div class="group" onclick="coreFunc.changeChat('main')">
            <img src="/favicon.svg" alt="MAIN">
        </div>
        <hr>
        <div id="groups__content">

        </div>
        <div style="width: 1px; height: 10rem;"></div>
        <hr>
        <div class="group" onclick="buttonFunc.createGroup()" translate>Create Group</div>
        <div class="group" onclick="buttonFunc.joinGroup()" translate>Join Channel</div>
        <div class="group" onclick="voiceHTML.div.fadeIn()" translate>Voice Show</div>
    </div>
    <div id="navs">
        <div id="navs__main">
            <button onclick="buttonFunc.addPriv()" translate>Add Private Channel</button>
            <button onclick="voiceFunc.startCall()" translate id="navs__main__call">Call</button>
            <hr>
            <br />
            <div id="navs__priv"></div>
        </div>
        <div id="navs__groups" style="display: none;">
            <div id="navs__groups__name"></div>
            <hr>
            <br />
            <div id="navs__groups__channels"></div>
        </div>
        <div id="navs__user">
            <img src="/assets/hatwoo.svg" alt="">
            <div id="navs__user__name"></div>
            <div id="navs__user__status"></div>
            <div id="navs__user__setting" onclick="buttonFunc.userSettings()">⚙️</div>
        </div>
    </div>
</nav>
<div id="nav__toggle">&#9776;</div>
