<div id="settings" style="display: none;"></div>

<div id="userProfile" style="display: none;"></div>

<div id="emojiDiv">
    <div id="emojiDiv__struct">
        <button onclick="emojiFunc.emojiClick()" id="emojiDiv__close" class="btn">X</button>
        <div id="emoji__search">
            <label for="emocji-input">🔎</label>
            <input type="text" id="emocji-input" class="btn">
        </div>
        <div id="emoji__nav"></div>
        <div id="emoji__container"></div>
    </div>
</div>

<div id="errMesses"></div>

<div id="prompt"></div>

<div id="usersInChat" style="display: none;"></div>

<div id="voice_call" style="display: none;">
    <button onclick="voiceHTML.div.fadeOut()" translate class="btn">Hide</button>
    <button onclick="voiceFunc.endCall()" id="voice_call_end" translate class="btn">Disconnect</button>
    <button onclick="voiceFunc.toggleMute()" id="voice_call_mute_mic" class="btn">Mute</button>
    <div id="voice_call_users_container">
        <span translate>Users</span>:
        <ul id="voice_call_users"></ul>
    </div>
    <div id="voice_call_media"></div>
</div>

<div id="linkClick" style="display: none;">
    <h1 translate>Do you want to open this link</h1>
    <br />
    <h2 id="linkClick_link"></h2>
    <br />
    <div id="linkClick_btns">
        <button id="linkClick_yes" translate>Yes</button>
        <button id="linkClick_no" translate>Cancel</button>
    </div>
</div>

<div id="makeGroup" style="display: none;">
    <button onclick="makeGroupDiv.fadeOut(); buttonFunc.createGroup();" translate class="btn">Create Group</button>
    <br />
    <br />
    <button onclick="makeGroupDiv.fadeOut(); buttonFunc.joinGroup();" translate class="btn">Join Group</button>
    <br />
    <br />
    <button onclick="makeGroupDiv.fadeOut()" translate class="btn">Cancel</button>
</div>