#app{
    display: flex;
    height: 100vh;
}

nav{
    width: 200px;
    max-width: 200px;
    height: 100vh;
    background-color: var(--panel);
}

#database-server-list > li{
    margin-top: 0.5rem;
    border-bottom: 1px solid var(--accent);
    padding-block: 0.5rem;
}

.database-nav{
    list-style: none;
    text-align: left;
    padding-left: 0.7rem;
}

.database-nav-meta{
    list-style: square;
    text-align: left;
    padding-left: 1.3rem;
}

main{
    flex-grow: 1;
    height: 100vh;
    overflow-y: scroll;
}

#query-div{
    text-align: left;
    padding-left: 1rem;
}

#query-div h2{
    margin-bottom: 0.7rem;
}

#query-div label{
    margin-bottom: 5px;
    display: block;
}

input, select, button{
    background-color: var(--back);
    border: 1px solid var(--accent);
    border-radius: 5px;
    padding: 5px;
    color: var(--txt);
}


#data-output h1{
    text-align: center;
    color: var(--txt);
}

#data-output div{
    padding: 10px;
    text-align: left;
    border-top: 1px solid var(--border);
}

#data-output ul{
    list-style-type: none;
    padding: 0;
}

#data-output li{
    margin: 5px 0;
}

#data-output pre{
    white-space: pre-wrap;
    word-wrap: break-word;
}

.selectMeta{
    cursor: pointer;
}

.selectMeta:hover{
    text-decoration: underline;
}

#nav__toggle{
    display: none;
}

#popUpContainer > div{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: var(--back);
    color: var(--txt);
    border: 2px solid var(--accent);
    border-radius: 1rem;
    padding: 1rem;
    width: 600px;
    max-width: 90vw;
    max-height: 90vh;
}

@media only screen and (max-width: 600px){
    nav{
        position: absolute;
        top: 0;
        transition: 0.5s;
    }

    #nav__toggle{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin: 1rem;
        cursor: pointer;
        z-index: 99;
    }
}