:root{
    --scrollbar-width: 5px;
}

/* WebKit (Chromium, Chrome, Opera, Safari) */
::-webkit-scrollbar{
    width: var(--scrollbar-width);
}

::-webkit-scrollbar-track{
    background: var(--back);
}

::-webkit-scrollbar-thumb{
    background: var(--accent);
}

::-webkit-scrollbar-thumb:hover{
    background: var(--border);
}

/* Gecko (Firefox) */
*{
    scrollbar-width: thin;
    scrollbar-color: var(--accent) var(--back);
}

*::-webkit-scrollbar{
    width: var(--scrollbar-width);
}

*::-webkit-scrollbar-track{
    background: var(--back);
}

*::-webkit-scrollbar-thumb{
    background-color: var(--accent);
}

*::-webkit-scrollbar-thumb:hover{
    background-color: var(--border);
}

/* Electron */
html::-webkit-scrollbar{
    width: var(--scrollbar-width);
}

html::-webkit-scrollbar-track{
    background: var(--back);
}

html::-webkit-scrollbar-thumb{
    background: var(--accent);
}

html::-webkit-scrollbar-thumb:hover{
    background: var(--border);
}

/* WebView in React Native */
body{
    scrollbar-width: var(--scrollbar-width);
    scrollbar-color: var(--accent) var(--back);
}

body::-webkit-scrollbar{
    width: var(--scrollbar-width);
}

body::-webkit-scrollbar-track{
    background: var(--back);
}

body::-webkit-scrollbar-thumb{
    background-color: var(--accent);
}

body::-webkit-scrollbar-thumb:hover{
    background-color: var(--border);
}