<div class="container">
    <div class="inner">
        <h1 class="heading">404</h1>
        <p class="text">Oops! The page you are looking for could not be found.</p>
        <br />
        <a href="/" class="link">Return to the homepage</a>
    </div>
</div>

<style>
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        color: #6b46c1;
    }

    .inner{
        text-align: center;
    }

    .heading{
        font-size: 4rem;
        font-weight: bold;
    }

    .text{
        font-size: 1.25rem;
    }

    .link{
        font-size: 1.5rem;
        color: #3182ce;
        text-decoration: none;
    }

    .link:hover{
        color: #63b3ed;
        text-decoration: underline;
    }
</style>