/// { "title": "Fusion Chat | Email Confirmation" }
<div id="div-gen"></div>
<form>
    <div class="content" id="loginC">
        <h2>Email Confirmation</h2>
        <div class="form">
            <div class="inputBox">
                <input type="number" id="code" min="100000" max="999999" required />
                <i>Code</i>
            </div>
            <div id="err"></div>
            <div class="inputBox">
                <input type="submit" value="Finish">
            </div>
        </div>
    </div>
</form>

<script src="/js/div-gen.js"></script>
<script src="/js/register-code.js"></script>
<link rel="stylesheet" href="/fc-form.css">