<main>
    <h1 class="text-center">Terms of Service</h1>
    <section>
        <h2>This is <strong>Fusion Chat</strong>!</h2>
        <p>Please read these Terms of Service ("Terms") carefully before using the Fuison Chat application (the "App") operated by Fusion Chat.</p>
        <p>
            Your access to and use of the App is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users, and others who access or use the App.
        </p>
        <p>
            By accessing or using the App, you agree to be bound by these Terms. If you disagree with any part of the terms, then you may not access the App.
        </p> 
    </section>
    <section>
        <h2>Basic Usage Guidelines</h2>
        <p>
            Open Source License: The App is open-source software released under the MIT License. You are free to use, modify, and distribute the App according to the terms of this license.
        </p>
        <p>
            Respectful Conduct: Users are expected to engage in respectful and constructive behavior while using the App. Any form of harassment, hate speech, or disruptive behavior will not be tolerated.
        </p>
        <p>
            Compliance with Laws: Users must comply with all applicable laws and regulations while using the App. Illegal activities, including but not limited to unauthorized access to computer systems, are strictly prohibited.
        </p>
        <p>
            Privacy: We respect your privacy.
        </p>
    </section>
    <section>
        <h2>Disclaimer of Warranty</h2>
        <p>
            The App is provided "as is" without warranty of any kind, either express or implied, including, but not limited to, the implied warranties of merchantability, fitness for a particular purpose, or non-infringement.
        </p>
        <p>
            In no event shall the authors or copyright holders be liable for any claim, damages, or other liability, whether in an action of contract, tort, or otherwise, arising from, out of, or in connection with the App or the use or other dealings in the App.
        </p>
    </section>
    <section>
        <h2>Limitation of Liability</h2>
        <p>
            In no event shall Fusion Chat or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the App, even if Fusion Chat has been advised of the possibility of such damages.
        </p>
    </section>
    <section>
        <h2>Changes to Terms</h2>
        <p>
            We reserve the right, at our sole discretion, to modify or replace these Terms at any time. By continuing to access or use our App after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the App.
        </p>
    </section>
    <section>
        <h2>Contact Us</h2>
        <p>
            If you have any questions about these Terms, please contact us at <a href="mailto:fusion@fusion.ct8.pl">fusion@fusion.ct8.pl</a>.
        </p>
    </section>
    <div class="text-center">
        <a href="/">Return to main page.</a>
    </div>
</main>

<style>
    main{
        width: 800px;
        max-width: calc(100% - 2rem);
        justify-content: center;
        padding-bottom: 3rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        color: white;
    }
    section{
        margin-bottom: 3rem;
    }
    h1{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    h2{
        font-size: 1.5rem;
    }
    p{
        text-indent: 1rem;
    }
    a{
        text-decoration: underline;
    }
    .text-center{
        text-align: center;
    }
</style>