#page_listBot__container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
}

#page_listBot__container .bot {
    text-align: center;
    cursor: pointer;
    transition: background-color 0.5s;

    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--back);
    color: var(--txt);
    border: 2px solid var(--accent);
    width: 200px;
    height: 200px;
}