#page_menageBot button {
    margin-right: 0.5rem;
    border-radius: 5px;

    cursor: pointer;
    border: 1px solid var(--txt);
    background-color: var(--back);
    color: var(--txt);
}

#page_menageBot__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.menageBot_container {
    width: 80%;
    margin-bottom: 10px;
}

.menageBot_container details summary {
    cursor: pointer;
}

#bot_realms__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.botRealm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid var(--accent);
    width: 200px;
    height: 200px;
}

.botRealm img {
    width: 64px;
    height: 64px;
    object-fit: cover;
}