:root {
    --messHover: #151516;
    --menu: #333;
    --realm: #000;
    --messBtnHover: #444;
    --inp: #2a2a2a;
    --userProfile: #090b0c;

    --accent: #5D3FD3;
    --accentRGB: 93, 63, 211;

    font-size: 14px;
}