#settings {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: var(--back);
    color: var(--txt);

    padding: 20px;
    z-index: 10;

    button {
        cursor: pointer;
    }

    .settings__categorySwitcher {
        button {
            --border: 1px;
            margin: 5px;
            transition: background-color 0.5s;

            &:hover {
                --bg: var(--accent);
            }
        }
    }

    .settings__exitButton {
        padding: 10px;
        border-radius: 5px;
        background-color: var(--back);
        color: var(--txt);
        border: 1px solid var(--border);
        margin: 5px;
        cursor: pointer;
    }

    .settings__category {
        text-align: left;
        border: 1px solid var(--border);
        border-radius: 5px;
        padding: 10px;
        width: 800px;
        margin-left: auto;
        margin-right: auto;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        h1 {
            margin-bottom: 1rem;
        }

        .settings__setting:not(:last-child) {
            margin-bottom: 1rem;
        }

        label {
            margin-right: 1rem;
        }

        details summary {
            cursor: pointer;
        }

        :where(input[type="text"], select, button) {
            background-color: var(--back);
            color: var(--txt);
            border: 1px solid var(--border);
            border-radius: 5px;
            padding: 5px;
        }

        .margin-left {
            margin-left: 1rem;
        }

        input[type="checkbox"] {
            margin: 0 3px -2px 0;
            --h: 1.1rem;
        }
    }

    .settings__nameSpan {
        margin-right: 0.5rem;
    }

    #settings__realmImg {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
    }

    .emoji__container {
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 1rem;
        padding: 1rem;

        &:not(:first-of-type) {
            border-top: 1px solid var(--accent);
        }

        &:not(:last-of-type) {
            margin-bottom: 1rem;
        }
    }
}

@media screen and (max-width: 800px) {
    #settings {
        .settings__category {
            max-width: 90vw;
        }

        .settings__categorySwitcher {
            display: flex;
            flex-direction: column;
        }

        .settings__nameSpan {
            display: block;
            margin-bottom: 0.3rem;
        }
    }
}